* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline-width: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100%;
}

.cursor {
  cursor: pointer;
}

@import "./homePage";
@import "./searchPage";
@import "./colors";
@import "./appslist";
@import "./copyRight__section";
@import "./responsiveness/responsiveness";
