@import "./homePage";
@import "./searchPage";
@import "./appslist";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline-width: 0;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}
